<!-- password_reset_done -->
{% block content %}
<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    text-align: center;
  }

  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }

  h5 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }

  h6 {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #69479b;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
  }

  a:hover {
    background-color: #7c94b0;
    color: #333;
  }
</style>

<div class="container">
  <h1>ایمیل بازیابی رمز عبور ارسال شد</h1>
  <h5>اگر حسابی با ایمیل وارد شده وجود داشته باشد، دستورالعمل بازیابی رمز عبور برای شما ارسال خواهد شد.</h5>
  <h6>اگر ایمیلی دریافت نکردید، مطمئن شوید که آدرس ایمیل ثبت‌نامی خود را وارد کرده‌اید و پوشه اسپم خود را بررسی کنید.</h6>
  <a href="http://localhost:3000/">بازگشت به صفحه اصلی</a>
</div>
{% endblock %}